<div class="top-menu">

    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses">

    <div class="demo">
        <div>Start Date: {{startDate | date: 'dd/MM/yyyy'}}</div>
        <div>{{title | titlecase}}</div>
        <div>{{price | number: '3.3-5'}}</div>
        <div>{{price | currency: 'ARS'}}</div>
        <div>Percentage: {{rate | percent}}</div>
    </div>
    
    <!-- ** USO DE @for **  -->
    <!-- @for (course of courses; track course.id; let index = $index; let count = $count;
    let first = $first; let last = $last; let even = $even; let odd = $odd){
    
    <course-card (courseSelected)="onCourseSelected($event)" 
        [course]="course" 
        [index]="index"
        [class.is-first]="first"
        [class.is-last]="last"
        [class.is-even]="even"
        [class.is-odd]="odd"
        />

    }
    @empty {
        <h1>No courses found!</h1>
    } -->

    <!-- {{courses | json}} -->

    <div *ngFor="let pair of course | keyvalue">
        {{pair.key}}: {{pair.value}}
    </div>

    <!-- ** USO DE ngFor **  -->
    <course-card *ngFor="let course of courses | slice: 0:3; index as i; 
                         first as isFirst; last as isLast;
                         even as isEven; odd as isOdd"
        (courseSelected)="onCourseSelected($event)" 
        [course]="course"         
        [index]="i + 1"
        [class.is-first]="isFirst"
        [class.is-last]="isLast"
        [class.is-even]="isEven"
        [class.is-odd]="isOdd"
        />    

</div>